Find: AQMDAwAAkAMAAAAAAAAAYAAAAAAAAAAAAAAIAAIAAACYAAAAAQUJAAAEAACHAQAAAgQKAAAEAACHAQAA
Replace: AQMDAwAAMAEAAJAAAAAAgAAAAAAAAAAAAAASAAIAAACYAAAAAQUSAAAIAACHAQAAAgQSAAAIAACHAQAA
Comment: 0x3E9B0009 All Patch by Hackintool (credit headkaze)

Find: AAAIAAIAAACYAAAAAQUJAAAEAACHAQAAAgQKAAAEAACHAQAA/wAAAAEAAAAgAAAA
Replace: AAASAAIAAACYAAAAAQUSAAAIAACHAQAAAgQSAAAIAACHAQAA/wAAAAEAAAAgAAAA
Comment: 0x3E9B0009 Connector Patch by Hackintool (credit headkaze)

Find: AQMDAwAAkAMAAAAAAAAAYA==
Replace: AQMDAwAAMAEAAJAAAAAAgA==
Comment: 0x3E9B0009 VRAM Patch by Hackintool (credit headkaze)
